{% extends 'main.html' %}
{% load static %}        
        
{% block content %}
        
        <style>
            .menu-container{
                display:grid;
                grid-template-columns:1fr 3fr
            }
            body {background-color: black;}
            .button {
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
          }

          .button1 {background-color: blue;} /* Green */
        </style>

  <h2>UPLOADED BOOKS</h2>

    {% for book in book %}
  
<div>
  <ul>
    <li>
      <h3>{{book.name}}</h3>
      <a href="{% url 'review' book.id %}"><button  class="button button1">Review</button></a>
    </li>
   
  </ul>
</div>
        {% endfor %}
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
 crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
 crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
crossorigin="anonymous"></script>

<script>
  
</script>



